doctype html
html(lang="de")
  head
    meta(charset="utf-8")
    title Senioren Web
    meta(name="description", content="This is a Social Network for old People")
    meta(name="D3v3l0per1", content="&copy; Copyright by D3v3l0per1")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="src/css/main.css")
    link(rel="icon", type="image/png", href="img/favicon.png")
    link(rel="stylesheet", href="src/css/font-awesome.min.css")
    
  body
    
    header
      ul.search-container
        li: input(type="text" placeholder="Suche...").search
        li: i.fa.fa-search

    
      ul.nav
        li: a(href="") Abmelden
        li: a(href="") Freunde
        li: a(href="") Profil
        li: a(href="") Startseite
