body {
  background-image: url(/src/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2C0A2D;
  width: 100%;
  height: 100%; }

img {
  max-width: 100%; }

header {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 20px 0 20px 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  header .search {
    position: absolute;
    margin-left: 5%;
    width: 30%;
    box-shadow: none;
    padding: 1%;
    background: rgba(255, 255, 255, 0.8);
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    border: none; }
    header .search:hover {
      transition: all 0.2s ease-in-out;
      border: 2px solid #F99273;
      border-radius: 5px; }
  header .nav {
    width: 80%;
    margin: 0 auto;
    list-style-type: none; }
    header .nav li {
      float: right;
      display: inline; }
      header .nav li a {
        padding: 20px;
        text-decoration: none;
        color: #F99273;
        transition: all 0.3s ease-in-out; }
        header .nav li a:hover {
          background: #F99273;
          color: #eee; }
